<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>HOEM</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="card-background-page">
        <ion-card>
            <img src="assets/images/main.jpg"/>
            <div class="card-title">美味い焼肉を知りたい！！</div>
        </ion-card>
    </div>

    <div padding>
        <button ion-button block *ngFor="let p of categories;trackBy:p?.ID" (click)="openPage(p)"
                [ngClass]="{'active': p.active}">
            {{p.title}}
        </button>
    </div>
    <wp-footer></wp-footer>
</ion-content>