<header>
  <ion-toolbar color="primary">
    <ion-buttons start>
        <img src="/assets/images/logo.svg" alt="焼肉メモ">
    </ion-buttons>
    <ion-searchbar (input)="searching($event)" (ionClear)="cancelKeyword($event)" [(ngModel)]="searchKeyword" (ionFocus)="searchStart()"></ion-searchbar>
  </ion-toolbar>
</header>